body {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: center;
}
.container {
  width: 1040px;
  /* background-color: #61dafb; */
  display: flex;
  flex-direction: column;
}
span{
  margin: 0;
  color: white;
  padding: auto;
  font-size: 2.3em;
  font-weight: 700;
}
header{
  width: 100%;
  height: 70px;
  background-color: rgba(141, 133, 133, 0.185);
  display: flex;
  align-items: flex-end;
  
}
.glogo{
  width: 2.3em;
  height: 2.3em;
  margin-bottom: 7px;
}

::-webkit-scrollbar{
  width: 4px;
  height: 6px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(238, 41, 245);
  height: 30px;
}

.navbar{ 
  height: 75%;
  width: 51%;
  display: flex;
  /* align-items: center; */
  padding: 3px;
  margin-left: 10px;
}
.navbar-item{
  background-color: rgba(65, 107, 114, 0.651);
  height: 40px;
  border-bottom: 4px solid royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3px;
  height: 35px;
}
.navbar-item a{
  padding: 15px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.actButtons{
  width: 17%;
  height: 75%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
.actBtn{
  height: 35px;
  width: 49%;
  background: linear-gradient(103deg,#6157ff,#7067ff,#6157ff);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.actBtn-link{
  padding: 15px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.logArea{
  width: 15%;
  height: 75%;
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}
.logBtn{
  height: 35px;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
}
.logLink{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.iconLog{
  height: 100%;
  width: 25%;
  /* background-color: rgb(59, 59, 59); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconLog a{
    color: white;
    text-decoration: none;
}
.textLog{
  height: 100%;
  width: 75%;
  background-color: rgb(59, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}
.textLog a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.finder{
  margin-top: 15px;
  width: 1040px;
  height: 55px;
  /* background-color: rgba(245, 245, 245, 0.795); */
  display: flex;
}
.search-text{
  height: 100%;
  width: 94%;
  /* background-color: rgba(0, 128, 128, 0.712); */
}
.search-text-box{
  height: 100%;
  width: 100%;
  padding: 0 15px;
  background-color: whitesmoke;
  border: none;
  font-size: 1.3em;
}
.search-btn{
  height: 100%;
  width: 6%;
  background: linear-gradient(45deg,#ff57e9d3,#cce94ad2,#ca57ffc4);
}
.s-btn{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-size: 2rem;
}

.gifList{
  margin-top: 25px;
  height: 170px;
  width: 1040px;
  background-color: rgba(245, 245, 245, 0.226);
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.carrusel-item{
  height: 140px;
  display: flex;
  align-items: stretch;

}
.imgGif{
  max-height: 100%;
  margin: 2px;
}



